<!-- Combat round select buttons -->
<div class="row justify-content-center form-group mt-3">
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedTurn">
        <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="0" [disabled]="combatTurnData[0].resultCount == 0"> Turn 1
        </label>
        <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="1" [disabled]="combatTurnData[1].resultCount == 0"> Turn 2
        </label>
        <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" [value]="2" [disabled]="combatTurnData[2].resultCount == 0"> Turn 3
        </label>
    </div>
</div>

<div class="row justify-content-center">
    <div>Chance to break/kill Opponent: {{(formatNumber2(combatTurnData[selectedTurn].breakChance[0]))}}% </div>
    <div class="col-sm-6 pants text-center">
        <div [ngStyle]="turnOutcomeBlocks(0)" style="background-color: antiquewhite; height:30px;"></div>
        <div [ngStyle]="turnOutcomeBlocks(1)" style="background-color: antiquewhite; height:30px;"></div>
        <div [ngStyle]="turnOutcomeBlocks(2)" style="background-color: antiquewhite; height:30px;"></div>
        <br>       
    </div>
    <div>Chance to break/kill Opponent: {{(formatNumber2(combatTurnData[selectedTurn].breakChance[1]))}}%  </div>
</div>

<div class="row">
    <div class="col-sm-2 pants text-center">
       Average Kills: {{formatNumber(combatTurnData[selectedTurn].averageKills[0])}}
        <br>       
    </div>
    <div class="col-sm-8 pants">
        <app-battle-field [unitOne]=unitOneRender [unitTwo]="unitTwoRender" [selectedTurn]="selectedTurn">
        </app-battle-field>
    </div>
    <div class="col-sm-2 pants text-center">
            Average Kills: {{formatNumber(combatTurnData[selectedTurn].averageKills[1])}}
        <br>        
    </div>
</div>